[submodule "vendor/openscad/MCAD"]
	path = vendor/openscad/MCAD
	url = git@github.com:openscad/MCAD.git
[submodule "vendor/openscad/PolyGear"]
	path = vendor/openscad/PolyGear
	url = git@github.com:dpellegr/PolyGear.git
