[submodule "ext/openscad/MCAD"]
	path = ext/openscad/MCAD
	url = git@github.com:openscad/MCAD.git
[submodule "ext/openscad/PolyGear"]
	path = ext/openscad/PolyGear
	url = git@github.com:dpellegr/PolyGear.git
[submodule "ext/openscad/2d_points"]
	path = ext/openscad/2d_points
	url = git@github.com:sadr0b0t/2d_points.git
[submodule "ext/openscad/parametric-pulley"]
	path = ext/openscad/parametric-pulley
	url = git@github.com:rbuckland/openscad.parametric-pulley.git
