[Unit]
Description=Jan-Poka
After=multi-user.target

[Service]
Environment=JP_HOMELATITUDE=51.439225
Environment=JP_HOMELONGITUDE=-0.104672
Environment=JP_HOMEALTITUDE=47
Environment=JP_USETOWER=true
Environment=JP_FACING=160
Type=simple
Restart=always
ExecStart=/bin/jan-poka

[Install]
WantedBy=multi-user.target
